@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    line-height: 1.5;
}

/* Reusability Code*/

:root {
    --primary-text-color: #191c1f;
    --secondary-text-color: #fff;
    --tertiary-text-color: #2da5f3;
    --quaternary-text-color: #fa8232;
    --quinary-text-color: #be4646;
    --senary-text-color: #475156;
    --rating-text-color: #76878f;
    --offer-text-color: #EBC80C;
    --inactive-text-color: #5f6c72;
    --gray-text-color: #5f6c72;
    --acitve-text-color: #000;
    --white-color: #fff;
    --black-color: #000;
    --primary-btn-bg-color: #ebc80c; 
    --secondary-btn-bg-color: #fa8232;
    --tertiary-btn-bg-color: #2da5f3;
    --primary-icon-color: #fff;
    --secondary-icon-color: #000;
    --rating-icon-color: #ebc80c;
    --sold-out-bg-color: #929fa5;
    --hot-icon-bg-color: #ee5858;
    --offer-batch-bg-color: #EFD33D;
    --bestdeal-bg-color: #2da5f3;
    --sale-bg-icon: #2db224;
    --countdown-bg-color: #f3de6d;
    --navbar-bg-color: #1b6392;
    --line-color: #1f6694;
    --hero-bg-color: #f2f4f5;
    --border-line-color: #e4e7e9;
}

html {
    font-size: 62.5%;
}

.container {
    max-width: 144rem;
    margin: 0 auto;
    padding: 1.5rem 4rem;
}

a, li, p {
    font-size: 1.7rem;
    color: black;
    list-style: none;
    text-decoration: none;
}

.main-heading {
    font-size: 4.8rem;
    font-weight: 600;
}

.primary-heading {
    font-size: 4rem;
    font-weight: 600;
}

.sub-heading {
    font-size: 3.2rem;
    font-size: 700; 
}

.heading {
    font-size: 2.4rem;
    font-size: 600;
}

.main-text {
    font-size: 2rem;
    font-weight: 600;
}

.text {
    font-size: 1.8rem;
    font-weight: 400;
}

.sub-text {
    font-size: 1.6rem;
    font-weight: 600;
}

.normal {
    font-size: 1.4rem;
    font-weight: 400;
}

.normal-bold {
    font-size: 1.4rem;
    font-weight: 500;
}


/* Button */
.primary-shop-btn {
    background-color: var(--secondary-btn-bg-color);
    padding: 1.2rem 3.2rem;
    border-radius: 0.3rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--white-color);
    border: none;
    letter-spacing: 1.2%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.secondary-shop-btn {
    background-color: var(--secondary-btn-bg-color);
    padding: 1rem 2.4rem;
    border-radius: 0.2rem;
    font-size: 1.4rem;
    letter-spacing: 1.2%;
    font-weight: 700;
    color: var(--white-color);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.offer-batch {
    font-size: 1.2rem;
    font-weight: 600;
    background-color: var(--offer-batch-bg-color);
    color: var(--black-color);
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    width: fit-content;
}

.hot-batch {
    font-size: 1.2rem;
    font-weight: 600;
    background-color: var(--hot-icon-bg-color);
    color: var(--white-color);
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    width: fit-content;
}

.sold-out-batch {
    font-size: 1.2rem;
    font-weight: 600;
    background-color: var(--sold-out-bg-color);
    color: var(--white-color);
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    width: fit-content;
}

.best-deals-batch {
    font-size: 1.2rem;
    font-weight: 600;
    background-color: var(--bestdeal-bg-color);
    color: var(--white-color);
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    width: fit-content;  
}

.sale-batch {
    font-size: 1.2rem;
    font-weight: 600;
    background-color: var(--sale-bg-icon);
    color: var(--white-color);
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    width: fit-content;
}

#icon-bg-color {
    background-color: var(--secondary-btn-bg-color);
    color: var(--white-color);
}

/* content bg color */
.bg-yellow {
    background-color: var(--countdown-bg-color);
    padding: 0.6rem 1rem;
}

/* text color */
.white-text {
    color: var(--white-color);
}

/* Layout */
.hero-line {
    display: block;
    width: 5rem;
    border: 2px solid black;
}

/* Icons Style */
.fa-solid {
    margin-left: 0.3rem;
    font-size: 1.6rem;
}

.fa-brands {
    color: var(--white-color);
    margin-left: 0.3rem;
    font-size: 1.6rem
}


.product-rating-content {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.featured-product-card .product-rating-content {
    justify-content: flex-start;
    margin-bottom: 0.5rem;
}

.product-rating-content .rating-star .fa-star {
    color: var(--quaternary-text-color);
    font-size: 1.2rem;
}

.product-rating-content .rating-count .normal {
    font-size: 1.2rem;
    color: var(--rating-text-color);
}

.product-price .price {
    color: var(--tertiary-text-color);
    font-size: 1.4rem;
    font-weight: 600;
}

.rating-star .fa-star {
    color: var(--rating-icon-color);
}

.left-border {
    border-left: 0.2rem solid var(--border-line-color);
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.flex-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* rotated content */
.normal-rotated {
    transform: rotate(-3deg);
}

/* Navbar Section */
.nav-container-1 {
    background-color: var(--black-color);
}

.navbar-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    gap: 3rem;
    font-weight: 700;
    align-items: center;
}

.fifty-nine-offer-nav-content .primary-heading {
    color: var(--offer-text-color);
}

.buynow-nav-content button {
    padding: 0 2.6rem;
    background-color: var(--primary-btn-bg-color);
    font-size: 1.4rem;
    font-weight: 700;
    height: 4.8rem;
    border-radius: 0.2rem;
    border: none;
}

.nav-container-2 {
    background-color: var(--navbar-bg-color);
    border-bottom: 0.1rem solid var(--rating-text-color);
}

.second-nav-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line {
    border: 0.1rem solid var(--white-color);
    height: 2.5rem;
}

.greeting-navbar-content {
    display: flex;
    gap: 5rem;
}

.nav-container-3 {
    background-color: var(--navbar-bg-color);
}

.last-navbar-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container-3 .inner-circle {
    width: 2.4rem;
    height: 2.4rem;
    background-color: var(--white-color);
    border: 0.4rem solid var(--line-color);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-container-3 .outer-circle {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    background-color: var(--white-color);
    position: relative;
    top: 0;
    left: 0;
}

.navbar-search {
    width: 60rem;
    position: relative;
}

.navbar-search input {
    width: 60rem;
    padding: 1.4rem 2rem;
    position: relative;
    top: 0;
    left: 0;
}

.navbar-search .search-icons {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.last-nav-icons-div {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

.fa-cart-shopping {
    position: relative;
}

.last-nav-icons-div .fa-cart-shopping::after {
    content: '2';
    height: 2rem;
    width: 2rem;
    font-size: 1.2rem;
    background-color: var(--white-color);
    color: var(--black-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: -1.2rem;
    right: -1rem;
}

.last-nav-icons-div .fa-solid {
    color: var(--white-color);
    font-size: 2.4rem;
}

.nav-container-4 {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    margin-bottom: 2rem;
}

.nav-container-4 .services-navbar-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-navbar-content .services-navbar-left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.services-navbar-content .fa-solid {
    margin-right: 1rem;
    font-size: 2.4rem;
}

.services-navbar-content .active {
    color: var(--black-color);
    background-color: var(--hero-bg-color);
    padding: 1.5rem 3rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.services-navbar-left a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray-text-color);
    font-size: 1.4rem;
}

.navbar-contact p{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Hero Section */

.hero-content {
    display: flex;
    justify-content: space-between;
}

.hero-left-content {
    background-color: var(--hero-bg-color);
    display: flex;
    width: fit-content;
    padding: 4rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.6rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.bestdeal-count .hero-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--bestdeal-bg-color);
    text-transform: uppercase;
}

.hero-left-content .hero-title::before {
    content: "";
    display: block;
    width: 4rem;
    border-top: 2px solid var(--bestdeal-bg-color);
}

.hero-product-descripton {
    width: 36rem;
}

.hero-product-descripton .text {
    color: var(--senary-text-color);
}

.hero-product-descripton .normal {
    margin: 0.5rem;
}
.hero-product-descripton .main-heading {
    margin-bottom: 1.5rem;
}

.hero-product-descripton .buy-now-btn {
    margin-top: 2rem;
}

.hero-product-images {
    position: relative;
    left: 0;
    top: 0;
}

.hero-product-images .heading {
    height: 10rem;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    background-color: var(--bestdeal-bg-color);
    color: var(--white-color);
    font-size: 2.2rem;
}

/* Hero right side section */
.hero-right-top-content {
    width: 100%;
    height: 52rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3.5rem;
    margin-right: 0.5rem;
}

.hero-right-top-content {
    width: 45rem;
    height: 23rem;
    background-color: var(--black-color);
    border-radius: 0.6rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.hero-right-top {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;
    padding: 2rem;
}

.righttop-product-description {
    width: 16rem;
    height: auto    ;
}

.righttop-product-description .normal {
    color: var(--offer-text-color);
    margin-bottom: 0.5rem;
}

.righttop-product-description .heading {
    color: var(--white-color);
}

.buy-now-btn {
    margin-top: 1.5rem;
}

.righttop-product-images {
    width: 16rem;
    position: relative;
    top: 3rem;
    left: 1.4rem;
    display: flex;
}

.righttop-product-images img {
    height: 18rem;
}

.righttop-product-images .sub-text {
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: -2.6rem;
    left: 10rem;
    width: 10rem;
    padding: 1rem 1rem;
    color: var(--black-color);
    background-color: var(--primary-btn-bg-color);
}

.hero-right-bottom {
    width: 45rem;
    height: 23rem;
    background-color: var(--hero-bg-color);
    border-radius: 0.6rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.rightbottom-product-description {
    width: 17.2rem;
}

.right-content-bottom {
    width: inherit;
    height: inherit;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

/* Features Content Section */
.feature-section {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}

.feature-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 2rem 0;
    border: 0.6rem;
}

.feature-content .feature-content-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem 4rem;
}


.feature-content-div .feature-icons i{
    font-size: 3.4rem;
}

.feature-description .normal-bold {
    text-transform: uppercase;
}

.feature-description .normal {
    color: var(--gray-text-color);
}

/* Best Deal offer Section */

.bestdeal-offers-content {
    margin-top: 2rem;
}

.bestdeal-offers-content {
    justify-content: space-between;
    align-items: center;
}

.bestdeal-offers-content .countdown {
    background-color: var(--countdown-bg-color);
    padding: 0.6rem 1.2rem;
    width: 19rem;
}

.countdown .flex {
    gap: 0.2rem;
}

.couter-box .counter-heading{
    gap: 0;
    font-size: 1.6rem;
    font-weight: 400;
}

/* Best product details Section */

.bestdeal-product-section {
    /* margin-top: 2rem; */
    margin: 2rem 0 4rem 0;
}
 #first-product-content {
    width: 360px;   
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 2.5rem;
    line-height: 1.5;
}

.bestdeal-product-description {
    margin-top: 2rem;
}

.bestdeal-product-images {
    height: auto;
    position: relative;
    width: 100%;
}


.product-deal-btn {
    background-color: #ffe7d6;
    padding: 1.2rem 2rem;
    border-radius: 0.3rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--black-color);
    border: none;
    letter-spacing: 1.2%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.bestdeal-product-title {
    margin: 1rem 0;
}

.bestdeal-product-price .sub-text {
    text-decoration: line-through;
    color: var(--gray-text-color);
    font-weight: 400;
    margin-right: 0.5rem
}

.bestdeal-product-price .text {
    color: var(--tertiary-text-color);
}

.bestdeal-product-para {
    margin: 1rem 0 2.5rem 0;
    color: var(--gray-text-color);
}

.bestdeal-product-btn .primary-shop-btn {
    padding: 1.2rem 4rem;
}

.bestdeal-product-btn {
    padding-bottom: 2rem;
}

.batch-content {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.bestdeal-card-section .flex {
    gap: 0;
    align-items: flex-start;
    flex-wrap: wrap;
}

.bestdeal-card {
    width: 25rem;
    height: 31.2rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 2rem;
}

.bestdeal-card .bestdeal-card-images {
    width: 22rem;
    height: 18rem;
    position: relative;
    top: 0;
    left: 0;
}

.bestdeal-card-images img {
    
    z-index: 2;
}

#batch-content-center {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.batch-content .product-deal-btn {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
}

.bestdeal-card-description .normal {
    margin: 1rem 0;
}

.bestdeal-card-price .normal {
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: line-through;
    margin-right: 0.5rem;
    color: var(--gray-text-color);
}

.bestdeal-card-description .normal-bold {
    font-weight: 600;
    color: var(--tertiary-text-color);
}

/* Shop Categorys Section */

.categorys-heading {
    text-align: center;
    margin-top: 1rem;
}

.categorys-card-content {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 3rem 0;
    gap: 2rem;
}

.categorys-cards {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 2rem;
    width: 23rem;
    height: auto;
    position: relative;
    left: 0;
    top: 0;
}

.category-card-title {
    text-align: center;
    text-transform: capitalize;
    margin: 1rem 0;
}

.left-arrow-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -2rem;
    top: 40%;
    height: 2.5rem;
    width: 2.5rem;
    background-color: var(--secondary-btn-bg-color);
    padding: 2.5rem;
    border-radius: 50%;
    color: white;
}

.right-arrow-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -2rem;
    top: 40%;
    height: 2.5rem;
    width: 2.5rem;
    background-color: var(--secondary-btn-bg-color);
    padding: 2.5rem;
    border-radius: 50%;
    color: white;
}

/* Featured Product Section */
.computer-accessories-card {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    width: 33rem;
    height: fit-content;
    background-color: var(--countdown-bg-color);
}

.featured-product-content {
    display: flex;
}

.featured-product-title {
    text-align: center;
    padding: 2rem 1rem;
}

.featured-product-content {
    width: 100%;
    height: auto;
    gap: 2rem;
}

.featured-product-navbarlist a {
    text-transform: capitalize;
    color: var(--gray-text-color);
    margin-left: 1rem;
}

.featured-product-navbarlist .active {
    color: var(--black-color);
    border-bottom: 0.3rem solid var(--quaternary-text-color);
    padding: 0 1rem;
}

.featured-product-navbar-logo .heading {
    font-weight:  500;
}

.featured-product-title .normal {
    color: var(--quinary-text-color);
    font-weight: 600;
    margin-bottom: 1rem;
}

.featured-product-title .sub-text {
    margin-top: 1rem;
    font-weight: 400;
    color: var(--gray-text-color);
}

.featured-product-title .normal-bold {
    margin: 1rem;
}

.featured-product-title .normal-bold span {
    background-color: var(--white-color);
    padding: 0.6rem 1.2rem;
}

.computer-accessories-card .featured-product-btn {
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.computer-accessories-card .featured-offer-images {
    position: relative;
    top: 0.5rem;
    left: 0;
}

.computer-accessories-card .featured-offer-images img {
    width: 100%;
}

.featured-product-navbar-logo .sub-heaing {
    color: var(--black-color);
}

.featured-product-navbar-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.featured-product-navbar {
    width: 100%;
    padding: 0 2rem;
}

.featured-column-div {
    display: flex;
    flex-direction: column;
}

.featured-product-navbar .flex {
    justify-content: space-between;
}

.featured-product-browser-btn .hero-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--quaternary-text-color);
    text-transform: capitalize;
    font-weight: 500;
}

.featured-product-card {
    width: 23rem;
    height: 32.5rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 0.3rem;
    padding: 1rem;
}

.featured-product-images {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.product-description {
    margin: 1rem 0;
}

.featured-product-card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
}


.product-price .sub-text {
    font-size: 1.4rem;
    color: var(--gray-text-color);
    text-decoration: line-through;
    font-weight: 400;
}
.product-price .text {
    font-size: 1.4rem ; 
    color: var(--tertiary-text-color);
    font-weight: 600;
    margin-left: 0.5rem;
}